---
nodes:
    - name: minio
      hostname: minio.tracing.vagrant
      box: bento/centos-7.8
      ip: 192.168.60.42
      disks:
      - name: minio
        size: 4
    - name: tempo
      hostname: tempo.tracing.vagrant
      box: bento/centos-7.8
      ip: 192.168.60.43
puppet_version: 6.19.1
virtualbox_group: '/Vagrant/tracing'
